Flask==0.10.1
Jinja2==2.8
requests==2.10.0
jsonschema==2.5.1
ptyprocess==0.5.1
pyparsing==2.0.3
pyreadline==2.1
python-dateutil==2.4.2
requests==2.10.0
virtualenv==15.0.3
gunicorn==19.6.0
psycopg2==2.6.2